<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Portal - Add new Blog</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="login-form bg-light mt-4 p-4">
        <form action="/createBlog" method="post" class="form-horizontal">
          <h2 class="text-center">Add New Blog</h2>
          <div class="col-12">
            <label for="blogTitle" class="form-label">Title</label>
            <input type="text" id="blogTitle" name="blog_title" required minlength="4" class="form-control">
          </div>
          <br>
          <div class="col-12">
            <label for="blogContent" class="form-label">Content</label>
            <textarea id="blogContent" name="blog_content" required minlength="10" class="form-control"></textarea>
          </div>
          <br>
          <div class="col-12">
            <button type="submit" class="btn btn-primary" id="submit">Save</button>
            <button type="cancel" class="btn btn-primary" onclick="location.href='/'">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>