<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <section id="table">
    <div class="table">
      <div id="headers">
        <span id="blogTitle">Blog Title</span>
        <span id="blogContent">Blog Content</span>
      </div>
      <% for(var i = 0; i < blogs.rows.length; i++) { %>
      <form class="tr">
        <input type="text" name="blogTitle" class="td" value= <%= blogs.rows[i].blog_title %>>
        <input type="text" name="blogContent" class="td" value= <%= blogs.rows[i].blog_content %>>
      </form>
      <% } %>
    </div>
  </section>
</body>
</html>